In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('..\Datos\EM2021_CSV.csv', sep = ',', encoding = 'latin-1')

C:\Users\wilson.pinzon\AppData\Local\Temp\ipykernel_9460\937974374.py:1: DtypeWarning: Columns (6,8,333) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('..\Datos\EM2021_CSV.csv', sep = ',', encoding = 'latin-1')

In [3]:
data.head()

,Unnamed: 0,DIRECTORIO,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,...,NHCMP12AUA23,NHCMP12AUB23_1,NHCMP12AUB23_2,NHCMP12AUB23_3,NHCMP12AUB23_4,NHCMP12AUA24,NHCMP12AUB24_1,NHCMP12AUB24_2,NHCMP12AUB24_3,NHCMP12AUB24_4
0,1,166238,11,11001,3,2.0,Chapinero,NaN,NaN,11001202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,166238,11,11001,3,2.0,Chapinero,NaN,NaN,11001202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220102,11,11001,3,19.0,Ciudad Bolívar,NaN,NaN,11001219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,220102,11,11001,3,19.0,Ciudad Bolívar,NaN,NaN,11001219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,220102,11,11001,3,19.0,Ciudad Bolívar,NaN,NaN,11001219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(292281, 1547)

In [5]:
suba = data[data['NOMBRE_LOCALIDAD'] == 'Suba']

In [6]:
suba = suba.reset_index(drop = True)

In [7]:
suba.head()

,Unnamed: 0,DIRECTORIO,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,...,NHCMP12AUA23,NHCMP12AUB23_1,NHCMP12AUB23_2,NHCMP12AUB23_3,NHCMP12AUB23_4,NHCMP12AUA24,NHCMP12AUB24_1,NHCMP12AUB24_2,NHCMP12AUB24_3,NHCMP12AUB24_4
0,12,222175,11,11001,1,11.0,Suba,28.0,El Rincón,11001122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13,222175,11,11001,1,11.0,Suba,28.0,El Rincón,11001122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14,222175,11,11001,1,11.0,Suba,28.0,El Rincón,11001122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,222175,11,11001,1,11.0,Suba,28.0,El Rincón,11001122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,222175,11,11001,1,11.0,Suba,28.0,El Rincón,11001122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
suba['NOMBRE_UPZ_GRUPO'].value_counts()

Tibabuyes                                              2573
Niza                                                   2414
El Rincón                                              2382
Suba                                                   2347
El Prado                                               2328
Casa Blanca Suba                                       2279
La Floresta                                            2265
Britalia                                               2252
La Alhambra                                            2228
SUBA: La Academia + Guaymaral + San José de Bavaria    2105
Name: NOMBRE_UPZ_GRUPO, dtype: int64

In [9]:
#suba.to_excel('..\Datos\Encuesta_Multiproposito_Suba.xlsx', index = False)
suba.to_csv('..\Datos\Encuesta_Multiproposito_Suba.csv', index = False)

## Añadir Diccionario de variables para seleccionar las preguntas

In [10]:
dicc = pd.read_excel('..\Datos\diccionario_propio.xlsx')

In [11]:
dicc.head()

,NOMBRE TABLA,NOMBRE COLUMNA,TEXTO_PREGUNTA,DESCRIPCIÓN_VALORES_LISTA,TIPO,TAMAÑO,ID
0,DBF_MTP_256_1,DIRECTORIO,Identificador numérico de vivienda,NaN,NUMBER,8,0
1,DBF_MTP_256_1,DPTO,1. Departamento,DPTOIDDPTO,NUMBER,4,0
2,DBF_MTP_256_1,MPIO,2. Municipio,MUNIIDMUNI,NUMBER,5,0
3,DBF_MTP_256_1,CLASE,clase,1 Cabecera\n2 Centros poblados\n3 Área rural d...,NUMBER,8,0
4,DBF_MTP_256_1,COD_LOCALIDAD,Código de la localidad,NaN,NUMBER,8,1

In [12]:
dicc = dicc[dicc['ID'] == 1]

In [13]:
lista_dic = list(dicc['NOMBRE COLUMNA'].values)
lista_dic.remove('NPCHP36a')

### Nos quedamos con las columnas con las preguntas que nos interesan

In [14]:
suba_c = suba[lista_dic]

In [15]:
for i in lista_dic:
    if i not in list(suba.columns):
        print(i)

In [16]:
suba_c

,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,NOMBRE_ESTRATO,NVCBP1,NVCBP2,NVCBP3,NVCBP4,...,NHCLP29_1L,NHCLP31AA,NHCLP31AB,NHCLP31AC,NHCLP31BA,NHCLP31BB,NHCLP31BC,NHCLP31CA,NHCLP31CB,NHCLP31CC
0,11.0,Suba,28.0,El Rincón,11001122,El Rincón,1,NaN,1,1,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
1,11.0,Suba,28.0,El Rincón,11001122,El Rincón,1,NaN,1,1,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
2,11.0,Suba,28.0,El Rincón,11001122,El Rincón,1,NaN,1,1,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
3,11.0,Suba,28.0,El Rincón,11001122,El Rincón,1,NaN,1,1,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
4,11.0,Suba,28.0,El Rincón,11001122,El Rincón,1,NaN,1,1,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24531,11.0,Suba,806.0,SUBA: La Academia + Guaymaral + San José de Ba...,11001179,SUBA: La Academia + Guaymaral + San José de Ba...,2,1.0,1,2,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
24532,11.0,Suba,806.0,SUBA: La Academia + Guaymaral + San José de Ba...,11001179,SUBA: La Academia + Guaymaral + San José de Ba...,2,1.0,1,2,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
24533,11.0,Suba,18.0,Britalia,11001109,Britalia,3,3.0,1,2,...,NaN,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0
24534,11.0,Suba,71.0,Tibabuyes,11001166,Tibabuyes,4,1.0,1,2,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
24535,11.0,Suba,NaN,NaN,11001211,Localidad Suba resto,1,NaN,2,2,...,NaN,1.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0

In [17]:
suba_c.describe()

,COD_LOCALIDAD,COD_UPZ_GRUPO,ESTRATO2021,NVCBP1,NVCBP2,NVCBP3,NVCBP4,NVCBP5,NVCBP6,NVCBP7,...,NHCLP29_1L,NHCLP31AA,NHCLP31AB,NHCLP31AC,NHCLP31BA,NHCLP31BB,NHCLP31BC,NHCLP31CA,NHCLP31CB,NHCLP31CC
count,24536.0,23173.000000,2.453600e+04,24536.000000,22835.00000,24536.000000,24536.000000,24536.000000,24536.000000,12772.000000,...,12358.0,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,22665.000000,11701.000000,11701.000000,11701.000000
mean,11.0,99.498727,1.100115e+07,3.159235,1.14215,1.105274,1.367216,1.140773,5.335915,1.432978,...,1.0,1.070991,1.478932,1.686874,1.039356,1.368895,1.712067,1.110247,1.317238,1.797795
std,0.0,223.847243,3.356643e+01,1.068032,0.40647,0.306912,0.482056,0.368506,4.409705,0.495507,...,0.0,0.256815,0.499567,0.463775,0.194444,0.482516,0.452810,0.313211,0.465421,0.401661
min,11.0,18.000000,1.100111e+07,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,11.0,20.000000,1.100112e+07,2.000000,1.00000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
50%,11.0,25.000000,1.100116e+07,4.000000,1.00000,1.000000,1.000000,1.000000,4.000000,1.000000,...,1.0,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
75%,11.0,28.000000,1.100118e+07,4.000000,1.00000,1.000000,2.000000,1.000000,6.000000,2.000000,...,1.0,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000
max,11.0,806.000000,1.100121e+07,4.000000,3.00000,2.000000,2.000000,3.000000,30.000000,2.000000,...,1.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [18]:
suba_c.shape

(24536, 419)

In [19]:
suba_c.to_csv('Encuesta_Suba_Filtrado_Preguntas.csv', index = False)

### Exploración de Datos